@use 'utils';
@use 'vars';

.imageGroup {
  position: relative;
}

.imageContainer {
  transform: scaleX(0.8) skewY(15deg);
  margin-left: -2rem;
  margin-right: -2rem;
  aspect-ratio: 1;
  width: 45%;
  max-width: 15rem;
  position: relative;

  &:nth-child(1) {
    z-index: 5;
  }
  &:nth-child(2) {
    z-index: 4;
  }
  &:nth-child(3) {
    z-index: 3;
  }

  box-shadow: 20px 15px 30px rgba(black, 1);
  filter: saturate(0);

  transition: margin 0.2s ease, filter 0.2s ease, transform 0.2s ease;
  transform-origin: bottom center;

  &:hover {
    margin-left: -1rem;
    margin-right: -1rem;
    filter: saturate(1);
    transform: scaleX(1) scaleY(1) skewY(0deg);
  }
}

@include utils.respond-to('small') {
  .imageContainer {
    margin-left: -5rem;
    margin-right: 0;
  }
}

.image {
  border-radius: vars.$border-radius-md;
}
