@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

html {
  scroll-behavior: smooth;
}

a:focus {
  outline: solid 2px rgba(white, 0.5);
  outline-offset: 4px;
}

body {
  background: black;
  color: white;
}
